html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0f19;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff9900;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff9900;
}

.nav-wrapper {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-form {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #222;
    padding: 8px 15px;
    border-radius: 10px;
}

.login-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    outline: none;
    width: 130px;
    font-size: 14px;
    text-align: center;
}

.login-form input::placeholder {
    color: #bbb;
}

.login-btn {
    background: linear-gradient(45deg, #ff4500, #ff9900);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn:hover {
    opacity: 0.8;
}

.login-btn:active {
    background-color: inherit;
    color: inherit;
    outline: none;
    box-shadow: none;
}

.login-btn:focus {
    outline: none;
    box-shadow: none;
}

.hero {
    text-align: center;
    padding: 150px 20px 80px;
    background: url('grafiki/skrzynki.webp') no-repeat center/cover;
    height: 50vh;
    width: 100%;
}

.hero h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

.cta-btn {
    background: linear-gradient(45deg, #ff4500, #ff9900);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.cta-btn:hover {
    opacity: 0.8;
}

.cases {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.case {
    background: #1c2333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.case:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(255, 153, 0, 0.5);
}

.case img {
    width: 50%;
    height: auto;
}

.wrapper {
    flex: 1;
}

.event-title {
    color:red;
}

.register-form {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 15px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    box-sizing: border-box;
}

.register-btn {
    background: #ff4d00;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.register-btn:hover {
    background: #e64400;
}

.carousel-item {
    width: 150px;
    height: 150px;
    object-fit: contain; /* Zachowuje proporcje obrazu, nie przycina */
}

.modal {
    display: none; /* Początkowo modal jest ukryty */
    position: fixed;
    z-index: 1; /* Ustawiamy wyższy z-index, aby modal był nad resztą strony */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Czarny tło */
    background-color: rgba(0,0,0,0.4); /* Z półprzezroczystością */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

/* Przycisk zamknięcia */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styl dla obrazka w modalu */
.modal-image {
    max-width: 100%;
    max-height: 200px;
}

footer {
    text-align: center;
    padding: 10px;
}